@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 14% 21%;
    --card: 0 0% 100%;
    --card-foreground: 220 14% 21%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 14% 21%;
    --primary: 220 14% 21%;
    --primary-foreground: 0 0% 100%;
    --secondary: 225 25% 97%;
    --secondary-foreground: 220 14% 21%;
    --muted: 225 25% 97%;
    --muted-foreground: 220 10% 40%;
    --accent: 245 91% 69%;
    --accent-foreground: 0 0% 100%;
    --destructive: 350 88% 61%;
    --destructive-foreground: 0 0% 100%;
    --border: 225 19% 90%;
    --input: 225 19% 90%;
    --ring: 245 91% 69%;
    --chart-1: 245 91% 69%;
    --chart-2: 156 88% 44%;
    --chart-3: 211 100% 60%;
    --chart-4: 38 100% 60%;
    --chart-5: 330 70% 58%;
    --radius: 0.5rem;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
